#forest{
    background-color:#00da99;
    color:#003417;
   width:170px; 
   border-radius:15px;
   padding-left:1px;
   padding-top:1px;
   padding-bottom:1px;
}
#desert{
    background-color:#eecb00;
    color:#983600;
   width:170px; 
   border-radius:15px;
   padding-left:1px;
   padding-top:1px;
   padding-bottom:1px;
}
#ocean{
    background-color:#0099ee;
    color:#004355;
   width:170px; 
   border-radius:15px;
   padding-left:1px;
   padding-top:1px;
   padding-bottom:1px;
}
header{
    color:#345566;
    text-align:center;
}
p{
color:#176092;
}
main, h1{
background-color:#abccdd;
padding:15px;
border-radius:25px
}
body{
    font-size:25px;
    margin-left:200px;
    margin-right:200px;
    background-color:#808a88;
}
ul{
    list-style-type:disc; 
 }